<div class="flex flex-col justify-center md:flex md:flex-row md:justify-around md:items-center">
    <div #scrollableContent class="md:mr-10 md:flex-1 max-h-96" [ngClass]="{'overflow-y-scroll': needScrollBar()}">
        <img #imageContent class="w-full h-auto" [src]="imgPath">
    </div>
    <!-- <img class="md:mr-10 md:w-0 md:flex-1 max-h-96 overflow-y-scroll" [src]="imgPath"> -->
    <div class="md:flex-1">
        <h3 class="my-1 font-semibold text-xl">{{title}}</h3>
        <div class="my-3 flex flex-row justify-start">
            <h4 class="font-semibold text-gray-500">Made with: </h4>
            <ul class="flex flex-row items-baseline">
                <li *ngFor="let tech of techList">
                    <img class="w-8 mx-3" [src]="techLogoPath[tech.toString()]">
                </li>
            </ul>
        </div>
        <p>{{description}}</p>
        <div class="mt-4 flex flex-row align-baseline">
            <app-main-button class="mr-2 w-24" [smallButton]="true" [buttonText]="mainBtnInfo?.text"
                [buttonLink]="mainBtnInfo?.link">
                <div class="svg-mainBtnSmall w-4 mr-2" [innerHTML]="safeSvgIcons![mainBtnInfo!.logo]"></div>
            </app-main-button>
            <app-side-button class="w-24" [smallButton]="true" [buttonText]="sideBtnInfo?.text" [buttonLink]="sideBtnInfo?.link">
                <div class="w-4 mr-2 svg-sideBtn" [innerHTML]="safeSvgIcons![sideBtnInfo!.logo]"></div>
            </app-side-button>
        </div>
    </div>
</div>