<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profolio</title>
</head>

<body>
    <app-nav-bar></app-nav-bar>
    <div class="my-24">
        <h1>Hi, I'm <span>Khoi</span></h1>
        <p>I am currently a Master student at <a href="https://www.ucdavis.edu/">The University of California,
                Davis.</a> I spend my day working on projects with Python, C++, Typescript, React.js, Angular, PyTorch,
            and AWS.</p>
    </div>
</body>

</html>