<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profolio</title>
</head>

<body>
    <app-nav-bar></app-nav-bar>
    <div class="my-16 mx-auto text-center max-w-sm md:max-w-3xl">
        <h1 class="viewport-header font-bold">
            Hi, I'm <span class="text-blue-500">Khoi</span>
        </h1>
        <p class="my-2 viewport-desc">
            I am currently a Master's student at <a class="text-blue-500 underline underline-offset-4"
                href="https://www.ucdavis.edu/" target="_blank" rel="noopener noreferrer">The University of California,
                Davis.</a> I spend my day working on projects with Python, C++, Typescript, React.js, Angular, PyTorch,
            and AWS.
        </p>
        <div class="my-8 flex flex-row justify-center items-stretch">
            <app-main-button class="mr-2" buttonLogoPath="assets\\navIcons\\Image22.jpg" buttonText="Projects"
                buttonLink="#"></app-main-button>
            <app-side-button buttonLogoPath="assets\\navIcons\\Image22.jpg" buttonText="GitHub"
                buttonLink="#"></app-side-button>
        </div>
    </div>
    <app-social-sidebar class="hidden lg:flex lg:flex-col lg:absolute lg:top-44 lg:-left-36"></app-social-sidebar>

    <h2 class="mx-auto mt-48 mb-16 text-center text-2xl font-semibold">My <span class="text-blue-500">Projects</span>
    </h2>
    <ul class="mx-6 mb-40" *ngIf="projectInfos">
        <li data-aos="fade-up" class="mb-16 last-of-type:mb-0 mx-auto max-w-6xl" *ngFor="let projectItem of projectInfos">
            <app-project-card [imgPath]="projectItem.imgPath" [title]="projectItem.title"
                [techList]="projectItem.techList" [description]="projectItem.description"
                [mainBtnInfo]="projectItem.mainButton" [sideBtnInfo]="projectItem.sideButton"></app-project-card>
        </li>
    </ul>

    <div data-aos="fade" class="mb-40">
        <h2 class="mb-16 mx-auto text-center text-2xl font-semibold">Technical <span
                class="text-blue-500">Skills</span></h2>
        <ul class="flex flex-row flex-wrap justify-center items-center max-w-md md:max-w-5xl mx-auto">
            <li class="w-24 mb-10 mx-5 transition hover:scale-125 duration-300"
                *ngFor="let techs of techDict | keyvalue">
                <app-skill-logo [techName]="techs.key"></app-skill-logo>
            </li>
        </ul>
    </div>

    <h2 data-aos="fade" class="mb-16 mx-auto text-center text-2xl font-semibold">My <span class="text-blue-500">Education</span></h2>
    <ul class="mx-6 mb-40">
        <li data-aos="zoom-in" class="mb-10 last-of-type:mb-0 mx-auto max-w-4xl shadow-lg" *ngFor="let infoDict of eduInfos">
            <app-education-card [educationInfo]="infoDict"></app-education-card>
        </li>
    </ul>

    <h2 data-aos="fade" class="mb-16 mx-auto text-center text-2xl font-semibold">Contact <span class="text-blue-500">Me</span></h2>
    <ul class="mx-32 flex flex-col justify-center items-center md:flex md:flex-row md:flex-wrap md:justify-around md:items-center">
        <li data-aos="fade" class="mb-10 min-w-[17rem] shadow-lg" *ngFor="let contact of contactInfos; let i = index" [attr.data-aos-delay] = "(i + 1) * 100">
            <app-contact-card [contactInfo]="contact"></app-contact-card>
        </li>
    </ul>

    <footer>
        <app-footer-nav></app-footer-nav>
    </footer>
</body>

</html>