<nav class="flex flex-col justify-center items-center mt-4 md:flex-row md:justify-around">
    <!-- Logo for Khoi -->
    <a class="my-6" href="#">
        <img class="w-10" src="assets\\navIcons\\Image22.jpg">
    </a>
    <ul class="flex flex-row justify-center w-full md:w-1/2">
        <li class="mr-8 last-of-type:mr-0" *ngFor="let anchorInput of navAnchors">
            <app-nav-anchor 
            [iconPath]="anchorInput.imgPath" 
            [iconText]="anchorInput.text" 
            [iconLink]="anchorInput.link"></app-nav-anchor>
        </li>
    </ul>
</nav>